body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #CDCDCD;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    height: 55px;
    /* background: #333; */
    background: rgba(0, 96, 191, 0.88);
}

section {
    margin: 0;
    /* height: 500px; */
}

label {
    float: left;
    width: 110px;
    line-height: 55px;
    color: #DDD;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
}

header input {
    float: right;
    width: 60%;
    height: 30px;
    margin-top: 14px;
    text-indent: 8px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
    border: none
}

input:focus {
    outline-width: 0
}

h2 {
    position: relative;
    margin: 5.5% 0;
}

h2:hover {
    color: rgb(0, 96, 191);
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

span {
    position: absolute;
    top: 2px;
    right: 5px;
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    border-radius: 20px;
    background: #E6E6FA;
    line-height: 22px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

ol, ul {
    padding: 0;
    list-style: none;
    outline: none;
}

li input {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

p {
    margin: 0;
    outline: none;
}

li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 214, .7);
}

li p input {
    top: 3px;
    left: 40px;
    width: 70%;
    height: 20px;
    line-height: 14px;
    text-indent: 5px;
    font-size: 14px;
}

li {
    height: 32px;
    line-height: 32px;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    padding: 0 45px;
    border-radius: 3px;
    border-left: 5px solid #629A9C;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

ol li {
    cursor: move;
}

ul li {
    border-left: 5px solid #999;
    opacity: 0.5;
}

li a {
    position: absolute;
    top: 6px;
    right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 6px double #FFF;
    background: rgb(214, 75, 75);
    line-height: 14px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

footer {
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    margin-top: auto;
}

footer a {
    color: #666;
    text-decoration: none;
    color: #999;
}

@media screen and (max-device-width: 620px) {
    section {
        width: 96%;
        padding: 0 2%;
    }
}

@media screen and (min-width: 620px) {
    section {
        width: 600px;
        padding: 0 10px;
    }
}

img {
    width: 40px;
    height: 40px;
    position: relative;
    float: left;
    margin-top: 8px;
    margin-left: -1%;
}

.great {
    padding: 5px 0;
    font-size: 10px;
    color: green;
    font-weight: 550;
}

.ico {
    width: 2em;
    height: 2em;
    /* margin: 3% 3% 1% 0; */
    padding: 0;
}

/* 
.col-xs-3 {
    margin: 1% 1% 1% 0;
    display: inline-block;
} */

.navbar-brand {
    display: inline-block;
    font-size: 1.8em;
    padding: 0;
    padding-top: 2%;
    padding-left: 5%;
}

.container-fluid {
    padding: 0;
}

.done, .todo {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(84, 87, 88);
}

.d-flex {
    margin-top: 2%;
}

.dodo {
    margin-top: 1%;
    margin-left: 1%;
}

.btn {
    width: 30%;
    margin-left: 2%;
}

.note {
    color: rgb(114, 109, 109);
    font-size: .5em;
    font-style: oblique;
    cursor: none;
}
